.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
  height: 50px;
  background-color: #ddd;
  position: fixed;
  top: 0;
  z-index: 2;
}

.header .content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.header .content .menu-left, .header .content .menu-right{
  margin: 0;
  padding: 0;
  height: 50px;
}

.header .content .menu-left li, .header .content .menu-right li{
  list-style: none;
  display: inline-block;
  width: 120px;
  height: 50px;
}

.header .content .menu-left li a , .header .content .menu-right li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: block;
  line-height: 50px;
}

/* Products */
.products {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  margin-top: 100px;
}

/* Product Items */
.products .product-items .img-items, .editable-items .img-items {
  width: 100%;
  height: 285px;
}

.products .product-items img, .editable-items .img-items img{
  width: 100%;
  height: 285px;
  object-fit: cover;
}

.products .product-items, .editable-items {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-width: 100%;
  height: 450px;
  margin: auto;
  text-align: center;
  position: relative;
}

.product-items .btn-close, .editable-items .btn-close {
  cursor: pointer;
   width: 35px;
   height: 35px;
  
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: red; */
  
   position: absolute;
   top: 2.5%;
   right: 4%;
    background-color: white;
    color: red;
    font-size: 30px;
    opacity: 0;
 }

 .editable-items .btn-close .btn {
  width: 100%;
  height: 100%;
 }

 .stories .editable-items:hover  .btn-close{
   opacity: 1;
   transition: 0.5s;
 }
 

.products .name {
  margin: 15px 0px;
  font-size: 25px;
}

.products .afterSale  {
  font-size: 25px;
}

.products .beforeSale {
  text-decoration: line-through;
}

.products .btn-add-product {
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: coral;
  font-size: 18px;
}

.product-items:hover, .editable-items:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: translateY(-5px);
}

.products .btn-add-product:hover{
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

/* Cart */
.cart-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.cart-container .cart-list-items {
  width:  67%;
  border: 2px solid #ddd;
  box-sizing: border-box;
  padding: 20px;
}

.cart-container .form-container {
  width: 31%;
  border: 2px solid #ddd;
  height: fit-content;
}

.cart-list-items .product-info{

}

.product-info .cart-items, .headList {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
}



.product-info .cart-items .detailInfo{
  flex-basis: 15%;

  }
  .headList .item-headList {
    flex-basis: 15%;
    }
  .detailInfo input[type='number']{
    width: 30%;
    text-align: center;
  }

  .detailInfo input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.product-info .cart-items .detailInfo img {
  width: 100%;
  object-fit: cover;
}

/* .buyingList .title {
  float: left;
} */

/* Form container */
.form-container {
  padding: 20px 30px;
  box-sizing: border-box;
}

.bill-info .buyer-info label{
  width: 100%;
  float: left;
  text-align: left;
  margin-bottom: 5px;
}

.bill-info .buyer-info input{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 2px solid #ddd;
}

/* Payment info */
.payment-info div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.payment-info button.btn-payment {
  padding: 10px 20px;
  width: 100%;
}

/* Stories */
.stories{
  position: relative;
  width: 1200px;
 
  margin: 0 auto;
   margin-top: 100px;
 
}



.stories .head {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
}

/* Add product */
.popup-add-product {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.popup {
  position: relative;

  background-color: white;
  box-sizing: border-box;
  width: 500px;
  height: fit-content;
  padding: 20px 30px 40px 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

.popup label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.popup input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.popup button {
  width: 100%;
  padding: 10px 30px;
}

.popup .btn-close-popup {
  cursor: pointer;
  width: 35px;
  height: 35px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
 
  position: absolute;
  top: 4%;
  right: 5%;
   background-color: white;
   color: red;
   font-size: 30px;
}

.popup .btn-close-popup:hover {
  background-color: red;
  color: white;
  transition: 0.5s;
}

.popup button {
  margin-top: 20px;
}


/* Product Details */
.product-details {
  width: 1200px;
  height: fit-content;
  margin: 0 auto;
  margin-top: 100px;
}

.product-details .container {
  width: 100%;
  height: fit-content;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-details .container .img-product {
  flex-basis: 40%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
}

.product-details .container .img-product img{
  width: 100%;
  object-fit: cover;
 
}

.product-details .container .product-info {
  flex-basis: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
  padding: 20px;
}

/* Footer */
.footer {
  margin-top: 100px;
  width: 100%;
  height: 300px;
  background-color: black;
}
